<app-header></app-header>
<div class="bgimage">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card shadow-lg o-hidden border-0 ">
          <div class="card-body p-0">
            <div>
              <div>
                <div class="p-5">
                  <div class="text-center">
                    <h1>Forget Password ?</h1>
                  </div>
                  <form class="user" [formGroup]="forgetForm" (submit)="onSubmit()">
                    <div class="form-group">

                      <div class="input-box" class="form-group">
                        <span class="details"> User-Name </span>
                        <input class="form-control" formControlName="userName" type="text" placeholder=" Enter Username.."
                          [(ngModel)]="userName" name="userName"
                          [ngClass]="{'is-invalid': submitted && forgetForm.get('userName')?.invalid}" />
                        <div class="invalid-feedback" *ngIf="submitted && forgetForm.get('userName')?.invalid">
                          <div *ngIf="forgetForm.get('userName')?.errors?.required">* Required</div>
                          <div *ngIf="forgetForm.get('userName')?.errors?.minLength">* Min 5 characters</div>
                        </div>
                      </div>

                      <div class="input-box" class="form-group">
                        <span class="details"> User-ID </span>
                        <input class="form-control" formControlName="userId" type="text" placeholder="Enter Your Id..."
                          [(ngModel)]="userId" name="userId"
                          [ngClass]="{'is-invalid': submitted && forgetForm.get('userId')?.invalid}" />
                        <div class="invalid-feedback" *ngIf="submitted && forgetForm.get('userId')?.invalid">
                          <div *ngIf="forgetForm.get('userId')?.errors?.required">* Required</div>
                          <div *ngIf="forgetForm.get('userId')?.errors?.minLength">* Min 5 characters</div>
                        </div>
                      </div>
                      <div class="input-box" class="form-group">
                        <span class="details">New- Password</span>
                        <input class="form-control" formControlName="newpassword" type="password" [(ngModel)]="newpassword" name="newpassword"
                          [ngClass]="{'is-invalid': submitted && forgetForm.get('newpassword')?.invalid}"
                          placeholder="Enter new password......"/>
                        <div class="invalid-feedback" *ngIf="submitted && forgetForm.get('newpassword')?.invalid">
                          <div *ngIf="forgetForm.get('newpassword')?.errors?.required">* Required</div>
                          <div *ngIf="forgetForm.get('newpassword')?.errors?.minLength">* Min 5 characters</div>
                        </div>
                      </div>


                      <p></p>
                      <button class="btn btn-primary btn-block text-white btn-user" (click)="onSubmit()">
                        Confirm
                      </button>
                    </div>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>