.bgimage{
    background-image: url("src/assets/img/bgimage2.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}
.container{
    margin-top: 150px;
    margin-left: 300px;
    max-width:700px;
    width: 100%;
    background : #fff;
    padding : 25px 30px;
    border-radius: 5px;
}
.btn{
    background-color: #180844;
}

.class4 {
    margin-left: 5px;
    margin-right: 2px;
    justify-content: center;

}
.class1 {
    display: flex;
    height : 50%;
    width: 80%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container .title {
    font-size: 25px;
    font-weight:500;
    position: relative;
} 

.container .title::before {

    content: '';
    position : absolute;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg , #71b7e6,#9b59b6);
    left: 0;
    bottom: 0;

}

.container form .user-details{

    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin: 20px 0 12px 0;
}

form .user-details .input-box{

    margin-bottom: 15px;
    
    width: calc( 100% / 2 - 20px );

}

.user-details .input-box .details {

    display: block;
    font-weight : 500;
    margin-bottom: 5px;

}

.user-details .input-box input {

    height : 60%;
    width : 100%;
    outline : none;
    border-radius : 5px;
    border : 1px solid #ccc;
    padding-left : 15px;
    font-size : 16px;

    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


.user-details .input-box input:focus ,
.user-details .input-box input:valid {

    border-color: #9b59b6;

}

form .gender-details .gender-title{

font-size : 20px;
font-weight : 500;

}

form .gender-details .category {

    display: flex;
    width : 80%;
    margin : 14px 0;
    justify-content: space-between;

}

.gender-details .category label {

    display: flex;
    align-items: center;

}

.gender-details .category .dot {

    height: 18px;
    width: 18px;
    background:#d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border : 5px solid transparent;
    transition: all 0.3s ease;

}

#dot-1:checked ~ .category label .one ,
#dot-2:checked ~ .category label .two {

    border-color: #d9d9d9;
    background: #9b59b6;


}



form .button {

    height: 45px;
    
    margin : 45px 0;

}

form .button input {

height: 50px;
width: 100%;
outline: none;
color: #fff;
border: none;
font-size: 18px;
font-weight: 500;
border-radius: 5px;
letter-spacing: 1px;
background: #180844;
}

form .button input:hover {

    background:#4a0bf8;
    

}

@media (max-width : 584px) {

    .container{

        max-width: 100%;

    }

 
form .user-details .input-box{

    margin-bottom: 15px;
    
    width: 100%;

}

form .gender-details .category {

    width: 100%;

}

.container form .user-details{

    max-height: 300px;
    overflow-y: scroll;

}

.user-details::-webkit-scrollbar {

    width: 0;
}
   

}