<app-header></app-header>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 col-lg-12 col-xl-10">
      <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6 d-none d-lg-flex">
              <div
                class="flex-grow-1 bg-login-image"
                style="background-image: url('assets/img/food.jpg')"
              ></div>
            </div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1>Reset Password</h1>
                </div>
                <form class="user" [formGroup]="passForm" (submit) = "onSubmit()">
                <div class="form-group">
                 
                    <div class="input-box" class="form-group">
                        <span class="details"> Password  </span>
                        <input
                            class="form-control"
                            formControlName="password"
                            type="password"
                            placeholder="password"
                            name="password"
                            [ngClass]="{'is-invalid': submitted && passForm.get('password')?.invalid}"
                        />
                        <div class="invalid-feedback" *ngIf="submitted && passForm.get('password')?.invalid">
                            <div *ngIf="passForm.get('password')?.errors?.required">* Required</div>
                            <div *ngIf="passForm.get('password')?.errors?.minLength">* Min 5 characters</div>
                        </div>
                    </div>
                    <div class="input-box" class="form-group">
                       <span class="details"> Confirm Password  </span>
                       <input
                            type="password"
                            class="form-control"
                            placeholder="Re-enter Password"
                            name="password2"
                            formControlName="password2"
                            [ngClass]="{'is-invalid': submitted && passForm.get('password2')?.invalid}"
                        />
                        <div class="invalid-feedback" *ngIf="submitted && passForm.get('password2')?.invalid">
                            <div *ngIf="passForm.get('password2')?.errors?.required">* Required</div>
                            <div *ngIf="passForm.get('password2')?.errors?.matching">Password not same</div>
                    
                        </div>  
       

                  </div>

                     
                  <p></p>
                  <button  class="btn btn-primary btn-block text-white btn-user" >
                    Confirm
                  </button>
                </div>
             </form>
             
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

